footer.footer
  .inner
    .map-site
      h1 Карта сайта
      a.phone(href="tel:+88001002132")
        +icon('phone')
        p 8(800) 100-21-32
      a.email(href="mailto:info@keno-cctv.ru") info@keno-cctv.ru
      a.map(href="/") Офис на карте
      a.pict(href="/")
        +icon('pict')
        p Где купить  
    .menu
      .company
        h2
          span компания
        .links
          a(href="/") Новости
          a(href="/") Стать партнером
          a(href="/") Где купить
          a(href="/") Контакты
      .product
        h2
          span продукты
        .links
          a(href="/") IP Видеокамеры
          a(href="/") IP Видеорегистраторы
          a(href="/") TVI Видеокамеры
          a(href="/") TVI Видеорегистраторы
          a(href="/") Видеоглазки
          a(href="/") Видеодомофоны комплекты
          a(href="/") Видеодомофоны мониторы
          a(href="/") Вызывные видеопанели
          a(href="/") Аудиотрубки
          a(href="/") Комплекты для видеонаблюдения
      .support
        h2
          span поддержка
        .links 
          a(href="/") ПО и материалы для загрузки
          a(href="/") FAQ
          a(href="/") Задать вопрос
    .copiright
      p © 2013-2020 www.fox-cctv.ru
      p Разработано в 
        a(href="https://dterra.eu/") DigitalTerra