header.header
  .inner
    .header-logo
      a(href="/")
        +icon('logo')
      .slogan
        p Полный контроль над ситуацией
    .header-menu
      .header-menu-top
        a.link(href="/") Компания
        a.link(href="/") Стать партнером
        a.link(href="/") Где купить
        a.link(href="/") Контакты
        a.phone(href="tel:+88001002132")
          +icon('phone')
          p 8(800) 100-21-32
      .header-menu-bottom
        a.link(href="/") 
          +icon('arrow-right')
          p продукция                              
        a.link(href="/") 
          +icon('arrow-right')
          p поддержка
        a.link(href="/")
          +icon('arrow-right')
          p p2p
        a.basket(href="/")
          +icon('basket')
          p Корзина
      .header-menu-mb
        .hamburger
          .hamburger-button
            span
            span
            span
        .header-menu-all
          .header-menu-top
            a.link(href="/") Компания
            a.link(href="/") Стать партнером
            a.link(href="/") Где купить
            a.link(href="/") Контакты
          .header-menu-bottom
            a.link(href="/") 
              +icon('arrow-right')
              p продукция
            a.link(href="/") 
              +icon('arrow-right')
              p поддержка
            a.link(href="/")
              +icon('arrow-right')
              p p2p