header.header
  .inner
    .header-logo
      a(href="/")
        +icon('logo')
      .slogan
        p Доступно каждому
    .header-menu
      .header-menu-top
        a.link(href="/") Компания
        a.link(href="/") Стать партнером
        a.link(href="/") Где купить
        a.link(href="/") Контакты
        a.phone(href="tel:+88001002132")
          +icon('phone')
          p 8(800) 100-21-32
      .header-menu-bottom
        a.link(href="/") 
          +icon('arrow-right')
          p продукция                              
        a.link(href="/") 
          +icon('arrow-right')
          p поддержка
        a.link(href="/")
          +icon('arrow-right')
          p p2p
        a.basket(href="/")
          .basket-icon
            img(src="img/basket.png", alt="Корзина")
            span 0
          p Корзина
      .header-menu-mb
        .hamburger
          .hamburger-button
            span
            span
            span
        .header-menu-all
          .header-menu-top
            a.link(href="/") Компания
            a.link(href="/") Стать партнером
            a.link(href="/") Где купить
            a.link(href="/") Контакты
          .header-menu-bottom
            a.link(href="/") 
              +icon('arrow-right')
              p продукция
            a.link(href="/") 
              +icon('arrow-right')
              p поддержка
            a.link(href="/")
              +icon('arrow-right')
              p p2p
            //-   <div class="cb-basket_info active" data-gtm-vis-recent-on-screen-31752868_15="2036338" data-gtm-vis-first-on-screen-31752868_15="2036338" data-gtm-vis-total-visible-time-31752868_15="100" data-gtm-vis-has-fired-31752868_15="1">
            //- <div class="cb-basket_products-list">
            //-   <div class="cb-basket_product-el">  <div class="cb-basket&quot;_product-el_block-wrapper&quot;">   <div class="cb-basket_product-el_first-block">    <div class="cb-basket_product-el_first-block_content">     <div class="cb-basket_product-el_img-wrapper"><img class="cb-basket_product-el_img" src="/upload/resize_cache/iblock/f74/440_370_0/reg24_768.png" alt=""></div>     <div class="cb-basket_product-el_name">FX-NVR24/2</div>    </div>   </div>   <div class="cb-basket_product-el_second-block">    <div class="cb-basket_product-el_second-block_content">     <div class="cb-basket_product-el_amount"><span class="cb-basket_product-el_minus"></span><span class="cb-basket_product-el_quantity">1</span><span class="cb-basket_product-el_plus"></span></div>     <div class="cb-basket_product-el_cost-wrapper">      <div class="cb-basket_product-el_cost-name">цена</div>      <div class="cb-basket_product-el_cost-content"><span class="cb-basket_product-el_cost">15990</span><span class="cb-basket_product-el_cost-prefix">руб.</span></div>     </div>     <div class="cb-basket_product-el_remove-wrapper"><span class="cb-basket_product-el_remove"></span></div>    </div>   </div>  </div> </div></div>
            //-   <div class="cb-basket_info_sum">
            //-     <div class="cb-basket_info_sum_title">Сумма заказа включая НДС</div>
            //-     <div class=""><span class="cb-basket_info_sum_number">15990</span><span class="cb-basket_info_sum_cost-prefix">руб.</span></div>
            //-   </div>
            //-   <form class="cb-form" id="form" action="/">
            //-     <div class="cb-form_el"><label class="cb-text" for="cb-name">Фамилия и Имя</label><div class="input"><input id="cb-name" class="cb-form_text" type="text" placeholder="ФИО" required data-parsley-errors-messages-disabled data-parsley-validate-if-empty></div>
            //-     <div class="description">Полные Фамилия Имя и Отчество могут потребоваться при получении заказа</div>
            //-     </div>
            //-     <div class="cb-form_el"><label class="cb-text" for="cb-mail">Электронная почта</label><div class="input"><input id="cb-mail" class="cb-form_text" type="text" placeholder="Ваша почта" required data-parsley-errors-messages-disabled></div></div>
            //-     <div class="cb-form_el"><label class="cb-text" for="cb-phone">Телефон</label><div class="input"><input id="cb-phone" class="cb-form_text" type="tel" placeholder="Ваш контактный телефон" required data-parsley-errors-messages-disabled></div>
            //-       <div class="description">номер телефона используется для оповещений об изменений статуса заказа</div>
            //-     </div>
            //-     <div class="cb-form_el"><label class="cb-text" for="cb-name">Адрес доставки</label><div class="input"><input id="cb-name" class="cb-form_text" type="text" placeholder="Ваш адрес" required data-parsley-errors-messages-disabled></div></div>
            //-     <div class="cb-form_el"><label class="cb-text" for="cb-name">Комментарий</label><div class="input"><input id="cb-name" class="cb-form_text" type="text" placeholder="вопросы и пожелания" required data-parsley-errors-messages-disabled></div></div>
            //-     <div class="cb-form_el"><div class="check"><input class="cb-form_check" id="raz" type="checkbox" required data-parsley-errors-messages-disabled><label for="raz" class="cb-form_label_check">Согласен на обработку персональных данных</label></div>
            //-     <div class="description">Персональные данные обрабатываются в соответствии с 
            //-      <a href="Политика в отношении обработки персональных данных.pdf" target="_blank"> Политикой обработки персональных данных</a></div>
            //-     </div>
            //-     <button class="cb-form_ok">заказать</button>
            //-   </form>
            //- </div>