@import 'common/header';
@import 'common/global';
@import 'common/footer';

body {
  background: #28292b;
  .wrapper {
    overflow: hidden;
    .inner {
      max-width: 1240px;
      margin: 0 auto;
      position: relative;
      @include media-laptop {
        max-width: 740px;
      }
    }
    .news {
      position: relative;
      width: 100%;
      background: #36373a;
      padding: 60px 0 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        background: inherit;
        z-index: -1;
      }
      &::before {
        transform: translateX(-100%);
      }
      &::after {
        transform: translateX(0);
      }
      &-item {
        position: relative;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        .news-text {
          position: absolute;
          padding: 20px 0 0 20px;
          font: 400 20px/1.5 $font;
          @include media-laptop {
            font: 400 15px/1.5 $font;
            padding: 10px 0 0 10px;
          }
          p {
            color: $black;
            width: 230px;
          }
          span {
            font-weight: 700;
            color: #df0024;
          }
          b {
            font-weight: 700;
            color: $black;
          }
        }
        a {
          position: absolute;
          bottom: 5px;
          font: 400 15px/27px $font;
          color: $black;
          text-decoration: underline;
          transition: 0.3s;
          height: auto;
          display: inline-block;
          padding-left: 20px;
          @include media-laptop {
            padding-left: 10px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .new {
          position: absolute;
          padding: 5px 15px;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font: 400 20px/27px $font;
          color: $white;
          background: #39b54a;
        }
        .stock {
          background: #ed1c24;
        }
        @include media-laptop {
          &-image {
            img {
              height: 123px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
