/* line 21, C:/Projects/cb/style.scss */
.cb-basket {
  position: relative; }
  /* line 23, C:/Projects/cb/style.scss */
  .cb-basket_open {
    position: relative;
    padding: 8px 20px 8px 0;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #535353;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: 0.5s;
    cursor: pointer; }
    /* line 35, C:/Projects/cb/style.scss */
    .cb-basket_open:hover {
      background: #282828; }
    /* line 38, C:/Projects/cb/style.scss */
    .cb-basket_open:active {
      background-color: #000; }
    /* line 41, C:/Projects/cb/style.scss */
    .cb-basket_open_title {
      display: inline; }
  /* line 56, C:/Projects/cb/style.scss */
  .cb-basket_all-quantity {
    margin: 0 15px 0 10px;
    padding-right: 5px;
    display: inline-block;
    width: 26px;
    height: 24px;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    font-weight: 700;
    color: #2b2927;
    vertical-align: top;
    background: url(images/basket.svg) no-repeat left center; }
  /* line 70, C:/Projects/cb/style.scss */
  .cb-basket_info {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 600px;
    padding: 20px 30px;
    background-color: #ebedec;
    z-index: 100; }
    /* line 79, C:/Projects/cb/style.scss */
    .cb-basket_info.active {
      display: block; }
    /* line 82, C:/Projects/cb/style.scss */
    .cb-basket_info_sum {
      text-align: right; }
      /* line 84, C:/Projects/cb/style.scss */
      .cb-basket_info_sum_title {
        margin-right: 100px; }
      /* line 87, C:/Projects/cb/style.scss */
      .cb-basket_info_sum_number {
        font-size: 20px; }
      /* line 90, C:/Projects/cb/style.scss */
      .cb-basket_info_sum_cost-prefix {
        margin-right: 40px;
        display: inline-block;
        width: 60px;
        text-align: center;
        font-size: 16px; }
  /* line 102, C:/Projects/cb/style.scss */
  .cb-basket_product-el {
    margin-bottom: 30px;
    text-align: left; }
    /* line 105, C:/Projects/cb/style.scss */
    .cb-basket_product-el_block-wrapper {
      display: table; }
    /* line 108, C:/Projects/cb/style.scss */
    .cb-basket_product-el_first-block {
      display: table-cell;
      width: 300px;
      min-height: 48px;
      vertical-align: middle; }
      /* line 116, C:/Projects/cb/style.scss */
      .cb-basket_product-el_first-block_content {
        display: table;
        width: 100%; }
    /* line 121, C:/Projects/cb/style.scss */
    .cb-basket_product-el_second-block {
      display: table-cell;
      width: 300px;
      min-height: 48px;
      vertical-align: middle; }
      /* line 131, C:/Projects/cb/style.scss */
      .cb-basket_product-el_second-block_content {
        display: table;
        width: 100%; }
    /* line 136, C:/Projects/cb/style.scss */
    .cb-basket_product-el_img-wrapper {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
      width: 48px; }
    /* line 142, C:/Projects/cb/style.scss */
    .cb-basket_product-el_img {
      max-width: 48px;
      max-height: 48px; }
    /* line 146, C:/Projects/cb/style.scss */
    .cb-basket_product-el_name {
      display: table-cell;
      text-align: left;
      font-size: 20px;
      line-height: 24px;
      vertical-align: middle; }
    /* line 153, C:/Projects/cb/style.scss */
    .cb-basket_product-el_cost-wrapper {
      padding-right: 15px;
      display: table-cell;
      text-align: right;
      font-size: 20px;
      vertical-align: middle; }
    /* line 160, C:/Projects/cb/style.scss */
    .cb-basket_product-el_cost-content {
      height: 22px;
      line-height: 22px; }
    /* line 164, C:/Projects/cb/style.scss */
    .cb-basket_product-el_cost {
      display: inline-block;
      font-size: 22px;
      vertical-align: middle; }
    /* line 169, C:/Projects/cb/style.scss */
    .cb-basket_product-el_cost-name {
      margin: -22px 60px 0 auto;
      display: block;
      width: 60px;
      height: 20px;
      text-align: right;
      font-size: 14px;
      line-height: 20px; }
    /* line 178, C:/Projects/cb/style.scss */
    .cb-basket_product-el_cost-prefix {
      display: inline-block;
      width: 60px;
      text-align: center;
      font-size: 16px;
      vertical-align: middle; }
    /* line 185, C:/Projects/cb/style.scss */
    .cb-basket_product-el_amount {
      display: table-cell;
      width: 120px;
      text-align: center;
      vertical-align: middle; }
    /* line 191, C:/Projects/cb/style.scss */
    .cb-basket_product-el_quantity {
      margin: 0 10px;
      padding: 0 8px;
      display: inline-block;
      width: 22px;
      height: 28px;
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      background-color: #bfbfbf;
      border-radius: 5px;
      vertical-align: middle; }
    /* line 204, C:/Projects/cb/style.scss */
    .cb-basket_product-el_plus {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #535353;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      border-radius: 50%;
      vertical-align: middle;
      transition: 0.5s;
      cursor: pointer; }
      /* line 215, C:/Projects/cb/style.scss */
      .cb-basket_product-el_plus:hover {
        background-color: #282828; }
      /* line 218, C:/Projects/cb/style.scss */
      .cb-basket_product-el_plus:active {
        background-color: #000; }
      /* line 221, C:/Projects/cb/style.scss */
      .cb-basket_product-el_plus:after {
        position: absolute;
        top: 9px;
        left: 5px;
        margin: auto;
        width: 10px;
        height: 2px;
        content: '\00A0';
        background-color: #fff; }
      /* line 231, C:/Projects/cb/style.scss */
      .cb-basket_product-el_plus:before {
        position: absolute;
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        content: '\00A0';
        background-color: #fff; }
    /* line 241, C:/Projects/cb/style.scss */
    .cb-basket_product-el_minus {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #535353;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      border-radius: 50%;
      vertical-align: middle;
      transition: 0.5s;
      cursor: pointer; }
      /* line 252, C:/Projects/cb/style.scss */
      .cb-basket_product-el_minus:hover {
        background-color: #282828; }
      /* line 255, C:/Projects/cb/style.scss */
      .cb-basket_product-el_minus:active {
        background-color: #000; }
      /* line 258, C:/Projects/cb/style.scss */
      .cb-basket_product-el_minus:after {
        position: absolute;
        top: 9px;
        left: 5px;
        margin: auto;
        width: 10px;
        height: 2px;
        content: '\00A0';
        background-color: #fff; }
    /* line 269, C:/Projects/cb/style.scss */
    .cb-basket_product-el_remove-wrapper {
      display: table-cell;
      width: 25px;
      vertical-align: middle; }
    /* line 274, C:/Projects/cb/style.scss */
    .cb-basket_product-el_remove {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      background: #683f3f no-repeat center url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCA5IDkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDkgOSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTguNyAxLjcgNy4zLjMgNC41IDMuMSAxLjcuMy4zIDEuNyAzLjEgNC41LjMgNy4zIDEuNyA4LjcgNC41IDUuOSA3LjMgOC43IDguNyA3LjMgNS45IDQuNXoiLz48L3N2Zz4=);
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      border-radius: 50%;
      vertical-align: top;
      transition: 0.5s;
      cursor: pointer; }
      /* line 285, C:/Projects/cb/style.scss */
      .cb-basket_product-el_remove:hover {
        background-color: #321f1f; }
      /* line 288, C:/Projects/cb/style.scss */
      .cb-basket_product-el_remove:active {
        background-color: #000; }

/* line 294, C:/Projects/cb/style.scss */
.cb-form {
  margin: 30px auto 0 auto;
  display: block; }
  /* line 297, C:/Projects/cb/style.scss */
  .cb-form label {
    margin-right: 20px;
    display: inline-block;
    width: 80px;
    font-size: 16px;
    text-align: right; }
  /* line 304, C:/Projects/cb/style.scss */
  .cb-form_el {
    margin-bottom: 20px; }
  /* line 307, C:/Projects/cb/style.scss */
  .cb-form_text {
    margin: 0;
    padding: 0 10px;
    width: 67%;
    min-width: 200px;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: 1px solid #666; }
    /* line 319, C:/Projects/cb/style.scss */
    .cb-form_text:focus {
      outline-color: #000; }
  /* line 323, C:/Projects/cb/style.scss */
  .cb-form #cb-phone {
    font-size: 18px; }
  /* line 326, C:/Projects/cb/style.scss */
  .cb-form_ok {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #535353;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: 0.5s;
    cursor: pointer; }
    /* line 338, C:/Projects/cb/style.scss */
    .cb-form_ok:hover {
      background-color: #282828; }
    /* line 341, C:/Projects/cb/style.scss */
    .cb-form_ok:active {
      background-color: #000; }

/* line 346, C:/Projects/cb/style.scss */
.cb-basket-order-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; }
  /* line 355, C:/Projects/cb/style.scss */
  .cb-basket-order-success_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    line-height: 50px;
    font-size: 20px; }
