@import "../mixins/media";

.header {
  background: #2b2928;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    display: flex;
    align-items: center;
    a {
      display: block;
      margin-right: 25px;
      svg {
        width: 136px;
        height: 63px;
        @include media-laptop {
          width: 100px;
        }
      }
    }
    .slogan {
      width: 160px;
      padding-left: 25px;
      border-left: 2px solid $yellow;
      p {
        font: 400 16px/20px $font;
        color: $yellow;
      }
    }
  }
  &-menu {
    @include media-laptop {
      display: flex;
      justify-content: space-between;
    }
    .header-menu {
      &-top {
        display: flex;
        align-items: center;
        padding-left: 21px;
        @include media-laptop {
          padding: 0;
        }
        .link {
          display: block;
          color: $white;
          font: 400 16px/27px $font;
          transition: 0.3s;
          padding: 10px 0;
          margin-right: 30px;
          @include media-laptop {
            display: none;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .phone {
          display: inline-flex;
          align-items: center;
          margin-left: 45px;
          transition: 0.3s;
          @include media-laptop {
            margin: 0;
            margin-right: 15px;
          }
          &:hover {
            opacity: 0.7;
          }
          svg {
            width: 26px;
            height: 26px;
          }
          p {
            font: 400 20px/27px $font;
            color: $yellow;
            margin-left: 15px;
          }
        }
      }
      &-bottom {
        position: relative;
        display: flex;
        align-items: center;
        padding: 3px 0 3px 21px;
        background: $black;
        @include media-laptop {
          padding: 0;
        }
        @include media-laptop {
          background: transparent;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100%;
          background: inherit;
        }
        .link {
          display: inline-flex;
          align-items: center;
          margin-right: 60px;
          transition: 0.3s;
          padding: 10px 0;
          @include media-laptop {
            display: none;
          }
          &:hover {
            opacity: 0.7;
          }
          svg {
            width: 14px;
            height: 16px;
            margin-right: 10px;
          }
          p {
            font: 400 15px/27px $font;
            color: $yellow;
            text-transform: uppercase;
          }
        }
        .basket {
          display: flex;
          width: 210px;
          height: 40px;
          align-items: center;
          margin-left: auto;
          background: #535353;
          transition: 0.3s;
          padding-left: 10px;
          @include media-laptop {
            width: 150px;
            margin-right: 53px;
          }
          &:hover {
            opacity: 0.7;
          }
          .basket-icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 33px;
              height: 25px;
            }
            span {
              position: absolute;
              font: 400 12px/1px $font;
              color: $black;
              padding-right: 5px;
            }
          }
          p {
            font: 400 13px/20px $font;
            color: $white;
            margin-left: 25px;
          }
        }
      }
      &-mb {
        display: none;
        @include media-laptop {
          display: block;
        }
        .hamburger {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          width: 66px;
          height: 100%;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          cursor: pointer;
          z-index: 2;
          background: #2b2928;
          transition: 0.3s;
          &-button {
            display: block;
            span {
              display: block;
              width: 25px;
              height: 4px;
              margin: 4px 0;
              background: $white;
              transition: 0.3s;
            }
          }
          @include media-laptop {
            display: flex;
          }
        }
        .hamburger.active {
          background: $yellow;
          span {
            &:nth-child(1) {
              margin: -4px;
              transform: rotate(-45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              margin: -4px;
              transform: rotate(45deg);
            }
          }
        }
        .header-menu-all {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          padding: 40px 60px;
          background: #2b2928;
          opacity: 0;
          visibility: hidden;
          transform: translateX(100%);
          transition: 0.3s;
          .header-menu {
            &-top,
            &-bottom {
              display: block;
              .link {
                display: flex;
                margin: 0;
                padding: 0;
                padding-top: 20px;
              }
            }
          }
        }
      }
      &-mb {
        .header-menu-all.active {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
