@import "../mixins/media";

.header {
  position: relative;
  background: #2b2928;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    display: flex;
    align-items: center;
    a {
      display: block;
      margin-right: 25px;
      svg {
        width: 136px;
        height: 63px;
        @include media-laptop {
          width: 100px;
        }
      }
    }
    .slogan {
      width: 160px;
      padding-left: 25px;
      border-left: 2px solid $yellow;
      p {
        font: 400 16px/20px $font;
        color: $yellow;
      }
    }
  }
  &-menu {
    @include media-laptop {
      display: flex;
      justify-content: space-between;
    }
    .header-menu {
      &-top {
        display: flex;
        align-items: center;
        padding-left: 21px;
        @include media-laptop {
          padding: 0;
        }
        .link {
          display: block;
          color: $white;
          font: 400 16px/27px $font;
          transition: 0.3s;
          padding: 10px 0;
          margin-right: 30px;
          @include media-laptop {
            display: none;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .phone {
          display: inline-flex;
          align-items: center;
          margin-left: 45px;
          transition: 0.3s;
          @include media-laptop {
            margin: 0;
            margin-right: 15px;
          }
          &:hover {
            opacity: 0.7;
          }
          svg {
            width: 26px;
            height: 26px;
          }
          p {
            font: 400 20px/27px $font;
            color: $yellow;
            margin-left: 15px;
          }
        }
      }
      &-bottom {
        position: relative;
        display: flex;
        align-items: center;
        padding: 3px 0 3px 21px;
        background: $black;
        @include media-laptop {
          padding: 0;
        }
        @include media-laptop {
          background: transparent;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100%;
          background: inherit;
        }
        .link {
          display: inline-flex;
          align-items: center;
          margin-right: 60px;
          transition: 0.3s;
          padding: 10px 0;
          @include media-laptop {
            display: none;
          }
          &:hover {
            opacity: 0.7;
          }
          svg {
            width: 14px;
            height: 16px;
            margin-right: 10px;
          }
          p {
            font: 400 15px/27px $font;
            color: $yellow;
            text-transform: uppercase;
          }
        }
        .basket {
          display: flex;
          width: 210px;
          height: 40px;
          align-items: center;
          margin-left: auto;
          background: #535353;
          transition: 0.3s;
          padding-left: 10px;
          @include media-laptop {
            width: 150px;
            margin-right: 53px;
          }
          &:hover {
            opacity: 0.7;
          }
          .basket-icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 33px;
              height: 25px;
            }
            span {
              position: absolute;
              font: 400 12px/1px $font;
              color: $black;
              padding-right: 5px;
            }
          }
          p {
            font: 400 13px/20px $font;
            color: $white;
            margin-left: 25px;
          }
        }
      }
      &-mb {
        display: none;
        @include media-laptop {
          display: block;
        }
        .hamburger {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          width: 66px;
          height: 100%;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          cursor: pointer;
          z-index: 2;
          background: #2b2928;
          transition: 0.3s;
          &-button {
            display: block;
            span {
              display: block;
              width: 25px;
              height: 4px;
              margin: 4px 0;
              background: $white;
              transition: 0.3s;
            }
          }
          @include media-laptop {
            display: flex;
          }
        }
        .hamburger.active {
          background: $yellow;
          span {
            &:nth-child(1) {
              margin: -4px;
              transform: rotate(-45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              margin: -4px;
              transform: rotate(45deg);
            }
          }
        }
        .header-menu-all {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          padding: 40px 60px;
          background: #2b2928;
          opacity: 0;
          visibility: hidden;
          transform: translateX(100%);
          transition: 0.3s;
          .header-menu {
            &-top,
            &-bottom {
              display: block;
              .link {
                display: flex;
                margin: 0;
                padding: 0;
                padding-top: 20px;
              }
            }
          }
        }
      }
      &-mb {
        .header-menu-all.active {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

/* line 21, C:/Projects/cb/style.scss */
.cb-basket {
  position: relative;
}
/* line 23, C:/Projects/cb/style.scss */
.cb-basket_open {
  position: relative;
  padding: 8px 20px 8px 0;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #535353;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
  cursor: pointer;
}
/* line 35, C:/Projects/cb/style.scss */
.cb-basket_open:hover {
  background: #282828;
}
/* line 38, C:/Projects/cb/style.scss */
.cb-basket_open:active {
  background-color: #000;
}
/* line 41, C:/Projects/cb/style.scss */
.cb-basket_open_title {
  display: inline;
}
/* line 56, C:/Projects/cb/style.scss */
.cb-basket_all-quantity {
  margin: 0 15px 0 10px;
  padding-right: 5px;
  display: inline-block;
  width: 26px;
  height: 24px;
  text-align: center;
  font-size: 11px;
  line-height: 22px;
  font-weight: 700;
  color: #2b2927;
  vertical-align: top;
  background: url(images/basket.svg) no-repeat left center;
}
/* line 70, C:/Projects/cb/style.scss */
.cb-basket_info {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 600px;
  padding: 20px 30px;
  background-color: #ebedec;
  z-index: 100;
}
/* line 79, C:/Projects/cb/style.scss */
.cb-basket_info.active {
  display: block;
}
/* line 82, C:/Projects/cb/style.scss */
.cb-basket_info_sum {
  text-align: right;
}
/* line 84, C:/Projects/cb/style.scss */
.cb-basket_info_sum_title {
  margin-right: 100px;
}
/* line 87, C:/Projects/cb/style.scss */
.cb-basket_info_sum_number {
  font-size: 20px;
}
/* line 90, C:/Projects/cb/style.scss */
.cb-basket_info_sum_cost-prefix {
  margin-right: 40px;
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 16px;
}
/* line 102, C:/Projects/cb/style.scss */
.cb-basket_product-el {
  margin-bottom: 30px;
  text-align: left;
}
/* line 105, C:/Projects/cb/style.scss */
.cb-basket_product-el_block-wrapper {
  display: table;
}
/* line 108, C:/Projects/cb/style.scss */
.cb-basket_product-el_first-block {
  display: table-cell;
  width: 300px;
  min-height: 48px;
  vertical-align: middle;
}
/* line 116, C:/Projects/cb/style.scss */
.cb-basket_product-el_first-block_content {
  display: table;
  width: 100%;
}
/* line 121, C:/Projects/cb/style.scss */
.cb-basket_product-el_second-block {
  display: table-cell;
  width: 300px;
  min-height: 48px;
  vertical-align: middle;
}
/* line 131, C:/Projects/cb/style.scss */
.cb-basket_product-el_second-block_content {
  display: table;
  width: 100%;
}
/* line 136, C:/Projects/cb/style.scss */
.cb-basket_product-el_img-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  width: 48px;
}
/* line 142, C:/Projects/cb/style.scss */
.cb-basket_product-el_img {
  max-width: 48px;
  max-height: 48px;
}
/* line 146, C:/Projects/cb/style.scss */
.cb-basket_product-el_name {
  display: table-cell;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
}
/* line 153, C:/Projects/cb/style.scss */
.cb-basket_product-el_cost-wrapper {
  padding-right: 15px;
  display: table-cell;
  text-align: right;
  font-size: 20px;
  vertical-align: middle;
}
/* line 160, C:/Projects/cb/style.scss */
.cb-basket_product-el_cost-content {
  height: 22px;
  line-height: 22px;
}
/* line 164, C:/Projects/cb/style.scss */
.cb-basket_product-el_cost {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
}
/* line 169, C:/Projects/cb/style.scss */
.cb-basket_product-el_cost-name {
  margin: -22px 60px 0 auto;
  display: block;
  width: 60px;
  height: 20px;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
}
/* line 178, C:/Projects/cb/style.scss */
.cb-basket_product-el_cost-prefix {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
}
/* line 185, C:/Projects/cb/style.scss */
.cb-basket_product-el_amount {
  display: table-cell;
  width: 120px;
  text-align: center;
  vertical-align: middle;
}
/* line 191, C:/Projects/cb/style.scss */
.cb-basket_product-el_quantity {
  margin: 0 10px;
  padding: 0 8px;
  display: inline-block;
  width: 22px;
  height: 28px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  background-color: #bfbfbf;
  border-radius: 5px;
  vertical-align: middle;
}
/* line 204, C:/Projects/cb/style.scss */
.cb-basket_product-el_plus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #535353;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.5s;
  cursor: pointer;
}
/* line 215, C:/Projects/cb/style.scss */
.cb-basket_product-el_plus:hover {
  background-color: #282828;
}
/* line 218, C:/Projects/cb/style.scss */
.cb-basket_product-el_plus:active {
  background-color: #000;
}
/* line 221, C:/Projects/cb/style.scss */
.cb-basket_product-el_plus:after {
  position: absolute;
  top: 9px;
  left: 5px;
  margin: auto;
  width: 10px;
  height: 2px;
  content: "\00A0";
  background-color: #fff;
}
/* line 231, C:/Projects/cb/style.scss */
.cb-basket_product-el_plus:before {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  content: "\00A0";
  background-color: #fff;
}
/* line 241, C:/Projects/cb/style.scss */
.cb-basket_product-el_minus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #535353;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.5s;
  cursor: pointer;
}
/* line 252, C:/Projects/cb/style.scss */
.cb-basket_product-el_minus:hover {
  background-color: #282828;
}
/* line 255, C:/Projects/cb/style.scss */
.cb-basket_product-el_minus:active {
  background-color: #000;
}
/* line 258, C:/Projects/cb/style.scss */
.cb-basket_product-el_minus:after {
  position: absolute;
  top: 9px;
  left: 5px;
  margin: auto;
  width: 10px;
  height: 2px;
  content: "\00A0";
  background-color: #fff;
}
/* line 269, C:/Projects/cb/style.scss */
.cb-basket_product-el_remove-wrapper {
  display: table-cell;
  width: 25px;
  vertical-align: middle;
}
/* line 274, C:/Projects/cb/style.scss */
.cb-basket_product-el_remove {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #683f3f no-repeat center
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCA5IDkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDkgOSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTguNyAxLjcgNy4zLjMgNC41IDMuMSAxLjcuMy4zIDEuNyAzLjEgNC41LjMgNy4zIDEuNyA4LjcgNC41IDUuOSA3LjMgOC43IDguNyA3LjMgNS45IDQuNXoiLz48L3N2Zz4=);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  vertical-align: top;
  transition: 0.5s;
  cursor: pointer;
}
/* line 285, C:/Projects/cb/style.scss */
.cb-basket_product-el_remove:hover {
  background-color: #321f1f;
}
/* line 288, C:/Projects/cb/style.scss */
.cb-basket_product-el_remove:active {
  background-color: #000;
}

/* line 294, C:/Projects/cb/style.scss */
.cb-form {
  margin: 30px auto 0 auto;
  display: block;
}
/* line 297, C:/Projects/cb/style.scss */
.cb-form label {
  display: inline-block;
  font-size: 16px;
  text-align: right;
}
.cb-form {
  .cb-text {
    margin-right: 20px;
  }
}
/* line 304, C:/Projects/cb/style.scss */
.cb-form_el {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .input {
    position: relative;
    width: 67%;
    min-width: 200px;

    span {
      position: absolute;
      height: 100%;
      right: 40px;
      top: 0;
      display: flex;
      align-items: center;
      font-size: 10px;
      color: #555;
    }
  }
  .success {
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 20%;
      width: 6px;
      height: 11px;
      border: solid #39b54a;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
/* line 307, C:/Projects/cb/style.scss */
.cb-form_text {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: 1px solid #666;
  transition: 0.3s;
}
/* line 319, C:/Projects/cb/style.scss */
.cb-form_text:focus {
  outline-color: #000;
}
/* line 323, C:/Projects/cb/style.scss */
.cb-form #cb-phone {
  font-size: 18px;
}
/* line 326, C:/Projects/cb/style.scss */
.cb-form_ok {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background-color: #535353;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
  cursor: pointer;
}
/* line 338, C:/Projects/cb/style.scss */
.cb-form_ok:hover {
  background-color: #282828;
}
/* line 341, C:/Projects/cb/style.scss */
.cb-form_ok:active {
  background-color: #000;
}

/* line 346, C:/Projects/cb/style.scss */
.cb-basket-order-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
/* line 355, C:/Projects/cb/style.scss */
.cb-basket-order-success_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  line-height: 50px;
  font-size: 20px;
}

.cb-form_label_check {
  margin: 0;
  padding-left: 30px;
  cursor: pointer;
}

.cb-form_check {
  cursor: pointer;
}

.description {
  width: 67%;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  text-align: left;
}

.check {
  position: relative;
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid transparent;
  input[type="checkbox"] {
    display: none;
  }

  label {
    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 10px;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      transition: 0.3s;
    }
  }
  input[type="checkbox"]:checked + label::before {
    background: #ffcc26;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 17px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.parsley-error {
  border: 1px solid red;
    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      left: 9px;
      border: 1px solid red;
      border-radius: 3px;
    }
}
.check.parsley-error {
  border: 1px solid transparent;
  transition: 0.3s;
}