extends common/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .banner
      img(src="img/banner.jpg", alt="banner")
    .inner
      .news
        .news-item
          .news-text
            p Новая линейка 
            p IP камер  
            p серия LS
          a(href="news.html") Подробнее
          .new NEW
          .news-item-image
            img(src="img/new-1.png", alt="Купольная камера")
        .news-item
          .news-text
            p Новая линейка 
            p домофонов 
            p с IPS дисплеем 
          a(href="news.html") Подробнее
          .new NEW
          .news-item-image
            img(src="img/new-2.png", alt="4-х канальный видеорегистратор cетевой")
        .news-item
          .news-text
            p Вызывные панели 
            p со встроенным 
            p считывателем
          a(href="news.html") Подробнее
          .new NEW
          .news-item-image
            img(src="img/new-3.png", alt="ЛЕТНЯЯ АКЦИЯ")