extends common/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .banner
      img(src="img/banner.jpg", alt="banner")
    .inner
      .news
        .news-item
          .news-text
            p Купольная камера 
            p FOX 2Мп TVi 
            p в Металлическом корпусе
          a(href="index.html") Подробнее
          .new NEW
          .news-item-image
            img(src="img/new-1.png", alt="Купольная камера")
        .news-item
          .news-text
            p 4-х канальный видеорегистратор cетевой 
          a(href="index.html") Подробнее
          .new NEW
          .news-item-image
            img(src="img/new-2.png", alt="4-х канальный видеорегистратор cетевой")
        .news-item
          .news-text
            span ЛЕТНЯЯ АКЦИЯ 
            p При покупке домофона видеоглазок 
            b в подарок
          a(href="index.html") Подробнее
          .new.stock АКЦИЯ
          .news-item-image
            img(src="img/new-3.png", alt="ЛЕТНЯЯ АКЦИЯ")