extends common/layout

block variables
  -var pageTitle ='Новости'

block content
  main
    .inner
      .title Новости
      .news-section
        .page-news-item
          .page-news-img-date
            .date 19.05.2020
            .img
              .new NEW
              img(src="img/news-1.jpg", alt="Обновился модельный ряд MHD видеокамер FOX.")
          .page-news-text
            h2 Обновился модельный ряд MHD видеокамер FOX.
            p В ассортименте FOX новые IP видеокамеры серии "LS":
            p
              a.link(href="/") FX-IPC-C20FP-IR LS  
              |  Цилиндрическая камера с фиксированным фокусом 
            p
              a.link(href="/") FX-IPC-D20FP-IR LS  
              |  Купольная камера 
            p
              a.link(href="/") FX-IPC-D29FP-IR LS MIC  
              |  Купольная камера со встроенным микрофоном 
            p
              a.link(href="/") FX-IPC-C20VP-IR LS  
              |  Цилиндрическая IP-камера: переменное фокусное расстояние 2.8-12, встроенный вход/выход, 
            p тревога и аудио, механическая регулировка объектива
            p 
              a.link(href="/") FX-IPC-C20AP-IR LS  
              |  Цилиндрическая IP-камера: переменное ф.расстояние 2.8-12, встроенный вход/выход, тревога и 
            p аудио, моторизированный объектив 
            p Весь текущий ассортимент IP видеокамер представлен в разделе 
              a.link.white(href="/") IP видеокамеры.
            p Идеально сочетаются с IP видеорегистраторами 
              a.link.white(href="/") FX-NVR8/1-4P, FX-NVR16/1-8P и FX-NVR24/2 
              |  и с MHD
            p видеорегистраторами 
              a.link.white(href="/") LT" и RT".
        .page-news-item
          .page-news-img-date
            .date 19.05.2020
            .img
              .new NEW
              img(src="img/news-2.jpg", alt="Новая линейка домофонов с IPS дисплеем")
          .page-news-text
            h2 Новая линейка домофонов с IPS дисплеем
            p Новая линейка домофонов с IPS дисплеем:
            p
              a.link(href="/") FX-HVD70M V3
              |  (ТОПАЗ 7W)
            p
              a.link(href="/") FX-HVD70M V3 
              |  (ТОПАЗ 7B)
            p
              a.link(href="/") FX-HVD100M V3
              |  (ТОПАЗ 10W)
            p
              a.link(href="/") FX-HVD100M V3
              |  (ТОПАЗ 10B)
            p IPS матрица экрана IPS позволяет добиться максимальной точности отображения тонов и оттенков, выдает более глубокий черный цвет. Цвета почти не искажаются, какой бы угол обзора не выбрал зритель. 
        .page-news-item
          .page-news-img-date
            .date 19.05.2020
            .img
              .new NEW
              img(src="img/news-3.jpg", alt="Вызывные панели со встроенным считывателем.")
          .page-news-text
            h2 Вызывные панели со встроенным считывателем.
            p Одноабонентские и многоабонентские вызывные панели со встроенным считывателем.
            p
              a.link(href="/") FX-CP28S 
              |  Цилиндрическая камера с фиксированным фокусом
            p
              a.link(href="/") FX-CP80 (Серебро) 2КН 
              |  Многоабонентские вызывная панель на 2 абонента
            p
              a.link(href="/") FFX-CP80 (Серебро) 4КН
              |  Многоабонентские вызывная панель на 4 абонента